<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../style.css" />

    <title>Wicrypt</title>
  </head>

  <body>
    <header>
      <nav class="nav nav-desktop">
        <div>
          <div class="row">
            <div>
              <img src="../assets/img/logo.svg" alt="logo" class="logo" />
              <p>Setup Your Wicrypt Hotspot Hub</p>
            </div>
            <div class="logout">
              <img src="../assets/img/logout-icon.svg" />
              <a href="/cgi-bin/luci/admin/logout"> Logout</a>
            </div>
          </div>
        </div>

        <ul class="nav__links">
          <li class="active">
            <a href="/cgi-bin/luci/admin/index">Overview</a>
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link fw-bold"
              href="/cgi-bin/luci/admin/device-registration"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
              >Register Hotspot Hub</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link fw-bold"
              href="/cgi-bin/luci/admin/quicksetup"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
              >Quick Setup</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link fw-bold"
              href="/cgi-bin/luci/admin/business"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
              >Business</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link fw-bold"
              href="/cgi-bin/luci/admin/system-settings"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
              >System</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link fw-bold"
              href="/cgi-bin/luci/admin/vpn-settings"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
              >VPN</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link fw-bold"
              href="/cgi-bin/luci/admin/status/overview"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
              >Advanced Settings</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="card business__card">
        <form>
          <div class="flex">
            <div class="w-2_3">
              <h2>Welcome to the Smarter Device Switch</h2>
              <p>
                This tab allows you to switch perormance of your smart network
                router either for personal mode or buisness mode
              </p>
            </div>
            <div class="flex w-1_3 justify_space-between">
              <div>
                <input
                  type="radio"
                  value="Enable"
                  id="enable"
                  name="business-mode"
                />Enable<label for="enable"></label>
              </div>
              <div>
                <input
                  type="radio"
                  value="Disable"
                  id="disable"
                  name="business-mode"
                />Disable<label for="disable"></label>
              </div>
            </div>
          </div>
          <div>
            <h2>Personal :</h2>
            <p>
              This is for general use case that require no voucher code, no data
              limits on connected devices. it is preferred for personal and home
              use. Benefits of Personal Mode Easy Device Connection as this
              doesnt require voucher codes for login for everyday personal use
              as users can track their data cosumptions on multiple devices yet
              with no data limits, splash screen page is disabled as user need
              not to login
            </p>
          </div>
          <div>
            <h2>Buisness:</h2>
            <p>
              This option is for buisness use case where device admin makes
              profit from connected devices by resellling data using voucher
              codes and data limits. This prefered for buisness use, official
              use and public domain use with restrictions to voucher access.
              Benefits of Buisness Mode allows users to earn based on connected
              device splash screen page is enable to allow only users with
              voucher codes login this is a security feature allocate different
              data limits to voucher codes
            </p>
          </div>
          <input type="submit" />
        </form>
      </div>
    </main>

    <footer>
      <p>Copyright Wicrypt All Right Reserved © 2021</p>
      <p>Powered By Wicrypt OS</p>
      <p>Firmware Version 1.0.0</p>
    </footer>
  </body>
</html>
