<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../style.css" />

    <title>Wicrypt</title>
  </head>

  <body>
    <header>
      <nav class="nav nav-desktop">
        <div>
          <div class="row">
            <div>
              <img src="../assets/img/logo.svg" alt="logo" class="logo" />
              <p>Setup Your Wicrypt Hotspot Hub</p>
            </div>
            <div class="logout">
              <img src="../assets/img/logout-icon.svg" />
              <a href="/cgi-bin/luci/admin/logout"> Logout</a>
            </div>
          </div>
        </div>

        <ul class="nav__links">
          <li class="active">
            <a href="/cgi-bin/luci/admin/index">Overview</a>
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link fw-bold"
              href="/cgi-bin/luci/admin/device-registration"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
              >Register Hotspot Hub</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link fw-bold"
              href="/cgi-bin/luci/admin/quicksetup"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
              >Quick Setup</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link fw-bold"
              href="/cgi-bin/luci/admin/business"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
              >Business</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link fw-bold"
              href="/cgi-bin/luci/admin/system-settings"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
              >System</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link fw-bold"
              href="/cgi-bin/luci/admin/vpn-settings"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
              >VPN</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link fw-bold"
              href="/cgi-bin/luci/admin/status/overview"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
              >Advanced Settings</a
            >
          </li>
        </ul>
        <!-- <div class="col mt-5 navbar-brand text-white">
          <div class="row">
            <img
              src="<%=media%>/assets/img/logo.svg"
              class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
              alt=""
              style="width: 85px; padding: 0"
            />
          </div>
        </div> -->

        <!-- <button
          class="d-block d-sm-none btn"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#mobileMenu"
          aria-controls="mobileMenu"
        >
          <img
            src="<%=media%>/assets/img/hamburger-icon.svg"
            class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
            alt=""
            style="width: 25px; height: 24px; padding-left: 0px"
          />
        </button> -->
      </nav>

      <!-- <div
          class="offcanvas offcanvas-start"
          tabindex="-1"
          id="mobileMenu"
          aria-labelledby="menuLabel"
          style="background: #25356a"
        >
          <div class="offcanvas-header">
            <div class="col mt-5 navbar-brand text-white" id="menuLabel">
              <div class="row">
                <img
                  src="<%=media%>/assets/img/logo.svg"
                  class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                  alt=""
                  style="width: 85px; padding: 0"
                />
              </div>
              <div class="row">Setup Your Wicrypt Hotspot Hub</div>
            </div>

            <button
              type="button"
              class="btn text-reset mt-4"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            >
              <img
                src="<%=media%>/assets/img/cancel-icon.svg"
                class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                alt=""
                style="width: 16px; height: 16px; padding-left: 0px"
              />
            </button>
          </div>
          <div class="offcanvas-body">
            <div class="d-flex justify-content-start">
              <ul class="nav nav-tabs-mobile flex-column" role="tablist">
                <li class="nav-item my-2" role="presentation">
                  <a
                    class="nav-link fw-bold active"
                    href="/cgi-bin/luci/admin/index"
                    role="tab"
                    aria-controls="contact"
                    aria-selected="false"
                    >Overview</a
                  >
                </li>
                <li class="nav-item my-2" role="presentation">
                  <a
                    class="nav-link fw-bold"
                    href="/cgi-bin/luci/admin/device-registration"
                    role="tab"
                    aria-controls="contact"
                    aria-selected="false"
                    >Register Hotspot Hub</a
                  >
                </li>
                <li class="nav-item my-2" role="presentation">
                  <a
                    class="nav-link fw-bold"
                    href="/cgi-bin/luci/admin/quicksetup"
                    role="tab"
                    aria-controls="contact"
                    aria-selected="false"
                    >Quick Setup</a
                  >
                </li>
                <li class="nav-item my-2" role="presentation">
                  <a
                    class="nav-link fw-bold"
                    href="/cgi-bin/luci/admin/business"
                    role="tab"
                    aria-controls="contact"
                    aria-selected="false"
                    >Business</a
                  >
                </li>
                <li class="nav-item my-2" role="presentation">
                  <a
                    class="nav-link fw-bold"
                    href="/cgi-bin/luci/admin/system-settings"
                    role="tab"
                    aria-controls="contact"
                    aria-selected="false"
                    >System</a
                  >
                </li>
                <li class="nav-item my-2" role="presentation">
                  <a
                    class="nav-link fw-bold"
                    href="/cgi-bin/luci/admin/vpn-settings"
                    role="tab"
                    aria-controls="contact"
                    aria-selected="false"
                    >VPN</a
                  >
                </li>
                <li class="nav-item my-2" role="presentation">
                  <a
                    class="nav-link fw-bold"
                    href="/cgi-bin/luci/admin/status/overview"
                    role="tab"
                    aria-controls="contact"
                    aria-selected="false"
                    >Advanced Settings</a
                  >
                </li>
              </ul>
            </div>
            <hr style="border: 1px solid #495a93" />
            <div class="col mt-5">
              <img
                src="<%=media%>/assets/img/logout-icon.svg"
                class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                alt=""
                style="width: 16px; padding-left: 0px"
              />
              <a
                class="btn text-white"
                href="/cgi-bin/luci/admin/logout"
                style="margin-right: 1vw; padding: 0"
              >
                Logout</a
              >
            </div>
          </div>
        </div> -->
    </header>
    <main>
      <div class="card overview__card">
        <section>
          <div class="flex justify_space-between">
            <div class="w-1_2 connected-devices">
              <h3>Connected Devices <span>[23]</span></h3>
              <div class="heading">
                <h5>Host Name</h5>
                <h5>MAC</h5>
              </div>
              <hr />
              <div class="row">
                <p><span>[1]</span> MacBook-Pro</p>
                <p>a8:34:6a:77:9c:66</p>
              </div>
            </div>
            <div class="w-1_3">
              <div class="flex justify_space-between">
                <div>
                  <p>Download Byte</p>
                </div>
                <p>2323kb</p>
              </div>
              <hr />
              <div class="flex justify_space-between">
                <div>
                  <p>Download Byte</p>
                </div>
                <p>2323kb</p>
              </div>
            </div>
          </div>
          <p>View all devices</p>
          <hr />
        </section>

        <section>
          <div class="flex justify_space-between">
            <div class="w-1_2 system-info">
              <h3>System Info</h3>
              <div class="row">
                <h5>Model</h5>
                <p>ZBT</p>
              </div>
            </div>
            <div class="w-1_2 wireless-info">
              <h3>Wireless Info</h3>
              <div class="row">
                <h5>SSID</h5>
                <p>Wicrypt_Hub</p>
              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="memory-info">
            <h3>Memory Info</h3>
            <div class="row">
              <h5>Model</h5>
              <div>
                <div class="progress-bar">
                  <div class="progress" style="width: 30%"></div>
                  <p>34%</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>

    <footer>
      <p>Copyright Wicrypt All Right Reserved © 2021</p>
      <p>Powered By Wicrypt OS</p>
      <p>Firmware Version 1.0.0</p>
    </footer>
  </body>
</html>
